body{font-family:Verdana,Microsoft Yahei;line-height:130%}
.hwd{font-size:120%;font-weight:700;color:#dc143c}
.hrz{height:1px;border-top:1px dotted #dc143c}
.hr2{height:1px;border-top:1px dotted #dc143c;display:none}
.ipa{color:Sienna;font-family:Tahoma,Verdana,"Lucida Sans Unicode","Segoe UI","Palatino Linotype","Arial Unicode MS",sans-serif}
.hnt{color:gray;margin-left:5px}
.oxf{font-family:Microsoft Yahei;font-size:90%;font-weight:700;margin-right:3px}
.col{color:Orange}
.tag{color:Purple}
.gdc{margin-top:5px}
.pos{font-family:Georgia;font-style:italic;font-weight:700;color:Navy}
.dcn{font-family:Microsoft Yahei;font-size:90%;color:#000}
.dnt{font-family:Microsoft Yahei;font-size:90%;color:gray}
.dne{font-family:Microsoft Yahei;font-size:90%;color:gray}
.deq{font-family:Microsoft Yahei;font-size:90%;color:gray}
.gfm{margin-top:5px}
.fnm{font-family:Microsoft Yahei;font-size:90%;color:Navy}
.frm{font-family:Tahoma;color:Teal;font-size:90%;margin-left:5px}
.qnm{font-family:Microsoft Yahei;font-size:90%;color:Navy}
.qrm{font-family:Tahoma;color:Teal;font-size:90%;margin-left:5px}
.onm{font-family:Microsoft Yahei;font-size:90%;color:Navy}
.orm{font-family:Tahoma;color:Teal;font-size:90%;margin-left:5px}
.frq{font-family:Microsoft Yahei;font-size:90%;color:Purple;margin-top:5px}