._wordfamily_ldoce6 .entry{line-height:150%;color:#000;display:block}
._wordfamily_ldoce6 .abbr{font-weight:700}
._wordfamily_ldoce6 .ac{padding-left:2px;padding-right:2px;border-radius:2px 2px 2px 2px;border-style:solid;border-width:1px;font-variant:small-caps;font-size:80%;font-weight:700;color:#00f}
._wordfamily_ldoce6 .amequiv{font-weight:700}
._wordfamily_ldoce6 .brequiv{font-weight:700}
._wordfamily_ldoce6 .collo{font-weight:700}
._wordfamily_ldoce6 .colloexa{display:block}
._wordfamily_ldoce6 .colloinexa{font-style:italic;font-weight:700}
._wordfamily_ldoce6 .comp{font-weight:700}
._wordfamily_ldoce6 .deriv{font-weight:700;color:#00f}
._wordfamily_ldoce6 .errorbox{display:block}
._wordfamily_ldoce6 .etymsense{display:block}
._wordfamily_ldoce6 .etymrefhwd{font-style:italic}
._wordfamily_ldoce6 .etymrefhom{font-size:80%;vertical-align:super;font-style:normal}
._wordfamily_ldoce6 .etymorigin{font-style:italic}
._wordfamily_ldoce6 .etymtran{font-weight:700}
._wordfamily_ldoce6 .etymbox{margin-top:1em;display:block}
._wordfamily_ldoce6 .example{font-style:italic;display:block;color:#00f}
._wordfamily_ldoce6 .freq{padding-left:2px;padding-right:2px;border-radius:2px 2px 2px 2px;border-style:solid;border-width:1px;font-variant:small-caps;font-size:80%;font-weight:700;color:red}
._wordfamily_ldoce6 .level{color:red;font-size:160%}
._wordfamily_ldoce6 .fullform{font-weight:700}
._wordfamily_ldoce6 .geo,._wordfamily_ldoce6 span.geo{font-weight:400;font-style:italic;color:purple}
._wordfamily_ldoce6 .collgloss,._wordfamily_ldoce6 .gloss{font-weight:400;font-style:normal;color:#000}
._wordfamily_ldoce6 .gram{color:green}
._wordfamily_ldoce6 .hintbold{font-weight:700}
._wordfamily_ldoce6 .hintitalic{font-style:italic}
._wordfamily_ldoce6 hinttitle{font-weight:700}
._wordfamily_ldoce6 .homnum{vertical-align:super;font-size:8pt;color:#00f;font-weight:700}
._wordfamily_ldoce6 .hwd{display:none}
._wordfamily_ldoce6 .hyphenation{font-weight:700;font-size:120%;color:#00f}
._wordfamily_ldoce6 .frequent{color:red}
._wordfamily_ldoce6 .lexunit{font-weight:700}
._wordfamily_ldoce6 .lexvar{font-weight:700}
._wordfamily_ldoce6 .linkword{font-style:italic}
._wordfamily_ldoce6 note{display:block}
._wordfamily_ldoce6 object{font-weight:400}
._wordfamily_ldoce6 .opp{font-weight:700}
._wordfamily_ldoce6 .orthvar{font-weight:700}
._wordfamily_ldoce6 .pastpart{font-weight:700}
._wordfamily_ldoce6 pastpartx{font-weight:700}
._wordfamily_ldoce6 .pasttense{font-weight:700}
._wordfamily_ldoce6 pasttensex{font-weight:700}
._wordfamily_ldoce6 .phrvbentry{display:block;margin-top:10px;margin-left:10px}
._wordfamily_ldoce6 .phrvbhwd{font-weight:700;color:#00f}
._wordfamily_ldoce6 .pluralform{font-weight:700}
._wordfamily_ldoce6 .pos{font-style:italic;color:green;font-weight:400}
._wordfamily_ldoce6 .prespart{font-weight:700}
._wordfamily_ldoce6 prespartx{font-weight:700}
._wordfamily_ldoce6 .propform{font-weight:700;display:block}
._wordfamily_ldoce6 .propformprep{font-weight:700;display:block}
._wordfamily_ldoce6 .ptandpp{font-weight:700}
._wordfamily_ldoce6 ptandppx{font-weight:700}
._wordfamily_ldoce6 .refhomnum{vertical-align:super;font-size:60%}
._wordfamily_ldoce6 .refhwd,._wordfamily_ldoce6 .refsensenum,._wordfamily_ldoce6 refsense{font-style:normal;font-variant:small-caps;text-transform:lowercase}
._wordfamily_ldoce6 .refsensenum{font-size:80%}
._wordfamily_ldoce6 crossrefto .reflex{display:none}
._wordfamily_ldoce6 .reflex{font-weight:700}
._wordfamily_ldoce6 .registerlab{font-style:italic;color:purple}
._wordfamily_ldoce6 .relatedwd{font-weight:700}
._wordfamily_ldoce6 .runon{display:block;margin-top:8px}
._wordfamily_ldoce6 .sense{display:block;margin-bottom:14px;margin-top:6px}
._wordfamily_ldoce6 .signpost{color:#fff;background-color:#35a3ff;margin-left:.5em;font-weight:700;font-variant:small-caps;text-transform:uppercase;font-size:80%;padding:1px 2px 1px 1px}
._wordfamily_ldoce6 .spokensect{border-top:solid;border-bottom:solid;border-width:2px;display:block;margin-bottom:1ex;clear:both;margin-top:1ex;border-color:#00a2e8;padding:3px}
._wordfamily_ldoce6 .spokensecthead{display:block;color:#00a2e8;font-weight:700}
._wordfamily_ldoce6 .pronstrong{font-style:italic}
._wordfamily_ldoce6 .subsense{display:block}
._wordfamily_ldoce6 .superl{font-weight:700}
._wordfamily_ldoce6 .syn{font-weight:700}
._wordfamily_ldoce6 .t3perssing{font-weight:700}
._wordfamily_ldoce6 t3perssingx{font-weight:700}
._wordfamily_ldoce6 unclassified{font-weight:700}
._wordfamily_ldoce6 span.neutral{font-style:normal;font-weight:400;font-variant:normal;color:#000;text-decoration:none}
._wordfamily_ldoce6 .cross{color:red;font-weight:700}
._wordfamily_ldoce6 span.italic{color:#000;font-style:italic;font-weight:400}
._wordfamily_ldoce6 .badexa{text-decoration:line-through;font-style:italic}
._wordfamily_ldoce6 .hint .expl{display:inline}
._wordfamily_ldoce6 span.infllab{font-style:italic;font-weight:400}
._wordfamily_ldoce6 span.warning{font-style:normal;font-weight:700;color:red}
._wordfamily_ldoce6 span.sensenum{font-style:normal;font-weight:700;margin-right:3px;color:#00f}
._wordfamily_ldoce6 span.synopp{padding-left:3px;padding-right:3px;border-radius:2px 2px 2px 2px;border-style:solid;border-width:1px;font-variant:small-caps;font-size:80%;font-weight:700;color:#00f}
._wordfamily_ldoce6 .secheading,._wordfamily_ldoce6 .subheading{display:block;font-weight:700;font-weight:700;color:#fff;background-color:#8187bf;margin-left:-3px;margin-right:-3px;font-variant:small-caps;padding-left:3px}
._wordfamily_ldoce6 .collocate,._wordfamily_ldoce6 .exponent{display:block;padding-bottom:5px;margin-top:5px}
._wordfamily_ldoce6 .collocate.inline{display:inline}
._wordfamily_ldoce6 .expl{display:block;padding:0 3px}
._wordfamily_ldoce6 .colloc{font-weight:700}
._wordfamily_ldoce6 .exp{font-weight:700}
._wordfamily_ldoce6 .expr{font-weight:700}
._wordfamily_ldoce6 .colloc.key{color:#00f}
._wordfamily_ldoce6 span.keycollo{font-weight:700;color:#00f}
._wordfamily_ldoce6 .thespropform{font-weight:700}
._wordfamily_ldoce6 collexa{font-style:italic}
._wordfamily_ldoce6 collexa .colloinexa{font-weight:400}
._wordfamily_ldoce6 thesexa{font-style:italic}
._wordfamily_ldoce6 learneritem{display:block}
._wordfamily_ldoce6 .goodcollo{font-weight:700}
._wordfamily_ldoce6 .badcollo{text-decoration:line-through}
._wordfamily_ldoce6 .defbold{font-weight:700}
._wordfamily_ldoce6 topic{font-variant:small-caps;color:#00f}
._wordfamily_ldoce6 .thesref.newline{display:block}
._wordfamily_ldoce6 .heading.newline{display:block}
._wordfamily_ldoce6 .thesref span.thesaurus{color:#00f;font-variant:small-caps}
._wordfamily_ldoce6 .thesref .refhomnum,._wordfamily_ldoce6 .thesref .refhwd{color:#00f;font-weight:700}
._wordfamily_ldoce6 i{font-style:italic}
._wordfamily_ldoce6 .imgholder{cursor:pointer;display:block;margin-bottom:1ex;padding:2px;clear:both}
._wordfamily_ldoce6 .imgholder img{border:1px solid #ddd}
._wordfamily_ldoce6 .buttons{display:block}
._wordfamily_ldoce6 .popup-button{background-color:#f0f2fc;border-radius:2px;border:1px solid #7e92c7;color:#7e92c7;text-transform:uppercase;font-size:66%;padding:2px 3px;text-decoration:none}
._wordfamily_ldoce6 .popup-button-hover{background-color:#dfe3f8;cursor:pointer}
._wordfamily_ldoce6 .popverbs{display:block;color:#fff;font-weight:700;background-color:#ec008d;padding-left:3px;margin-bottom:5px}
._wordfamily_ldoce6 .verbtable .lemma{color:#00f;font-size:120%;font-weight:700}
._wordfamily_ldoce6 .verbtable table{border-collapse:separate;border-spacing:1px;margin-top:10px}
._wordfamily_ldoce6 .verbtable td{padding:0 5px 0 2px;border-style:solid;border-width:1px;border-color:#d2d2d2}
._wordfamily_ldoce6 .header{font-weight:700;font-variant:small-caps}
._wordfamily_ldoce6 .verbtable td.col1{font-weight:700}
._wordfamily_ldoce6 .verbtable td.col2{font-style:italic}
._wordfamily_ldoce6 .verbtable .geo{font-style:italic;color:#000;font-size:normal;font-weight:400}
._wordfamily_ldoce6 .verbtable .aux{font-weight:700}
._wordfamily_ldoce6 .verbtable .verb_form{color:#00f;font-weight:700}
._wordfamily_ldoce6 .collocations .last{margin-bottom:20px}
._wordfamily_ldoce6 .collocations .colloc{display:inline-block;font-weight:700;margin-left:-2px}
._wordfamily_ldoce6 .collobox,._wordfamily_ldoce6 .f2nbox,._wordfamily_ldoce6 .grambox,._wordfamily_ldoce6 .thesbox,._wordfamily_ldoce6 .usagebox,._wordfamily_ldoce6 spoken{border-radius:9px 9px 9px 9px;border-style:solid;border-width:2px;display:block;margin-bottom:1ex;clear:both;margin-top:1ex}
._wordfamily_ldoce6 .f2nbox{border-color:#00a2e8}
._wordfamily_ldoce6 .f2nbox .heading{color:#00a2e8}
._wordfamily_ldoce6 .heading{color:#fff;font-weight:700;line-height:100%;padding:3px}
._wordfamily_ldoce6 .section{display:block;padding:0 3px}
._wordfamily_ldoce6 .last{border-bottom-left-radius:9px;border-bottom-right-radius:9px}
._wordfamily_ldoce6 .thesbox{background-color:#652d91;border-color:#652d91}
._wordfamily_ldoce6 .thesbox .section{background-color:#e8e2f0}
._wordfamily_ldoce6 .collobox{background-color:#1d3e99;border-color:#1d3e99}
._wordfamily_ldoce6 .collobox .section{background-color:#e2f4fd}
._wordfamily_ldoce6 .usagebox{background-color:#00a2e8;border-color:#00a2e8}
._wordfamily_ldoce6 .usagebox .expl{background-color:#e2f4fd}
._wordfamily_ldoce6 .grambox{background-color:#00adee;border-color:#00adee}
._wordfamily_ldoce6 .grambox .compareword,._wordfamily_ldoce6 .grambox .expl{background-color:#e2f4fd;display:block;padding-left:3px}
._wordfamily_ldoce6 .compareword{padding-top:5px;padding-bottom:5px}
._wordfamily_ldoce6 .gramrefcont{display:block;text-transform:lowercase;font-variant:small-caps;padding-left:3px;padding-bottom:1px}
._wordfamily_ldoce6 .thesaurus .sense{padding-left:3px;padding-right:3px;margin-top:0}
._wordfamily_ldoce6 .collocations .section,._wordfamily_ldoce6 .thesaurus .section{margin-bottom:10px}
._wordfamily_ldoce6 .thesaurus .secheading,._wordfamily_ldoce6 .thesbox .secheading{background-color:#a186bd}
._wordfamily_ldoce6 .add_exa{font-style:italic;display:block}
._wordfamily_ldoce6 .nodeword{color:#00f;font-weight:700}
._wordfamily_ldoce6 .phrase{display:block}
._wordfamily_ldoce6 .phrasetext{font-weight:700}
._wordfamily_ldoce6 .expandable{cursor:pointer}
._wordfamily_ldoce6 .entry div.content{display:none;margin-bottom:10px}
._wordfamily_ldoce6 .group,._wordfamily_ldoce6 .w{display:block}
._wordfamily_ldoce6 .group .pos{font-weight:700;display:block}
._wordfamily_ldoce6 .item{display:block}
._wordfamily_ldoce6 .w{font-weight:700}
._wordfamily_ldoce6 .popheader{display:block;color:#fff;font-weight:700;padding-left:3px}
._wordfamily_ldoce6 .popheader.popexa{background-color:red}
._wordfamily_ldoce6 .popheader.popphrase{background-color:purple}
._wordfamily_ldoce6 .popheader.popcollo{background-color:#1d3e99}
._wordfamily_ldoce6 .popheader.popthes{background-color:#652d91}
._wordfamily_ldoce6 .popheader.popetym{background-color:green}
._wordfamily_ldoce6 .popheader.popwf{background-color:#ffd448}
._wordfamily_ldoce6 .popheader.pope_menu{background-color:#57c0e0}
._wordfamily_ldoce6 .ws-head{font-weight:700;color:#00f;font-size:larger}
._wordfamily_ldoce6 .ws-head.ref{display:block;margin-top:10px}
._wordfamily_ldoce6 .wswd{font-weight:700;display:block}
._wordfamily_ldoce6 .cyan{color:#00a2e8;font-size:larger}
._wordfamily_ldoce6 .menuitem{display:block}
._wordfamily_ldoce6 ul.exas li{font-style:italic;color:#00f;margin-bottom:3px}
._wordfamily_ldoce6 .grammar{display:block}
._wordfamily_ldoce6 .str{font-size:large;font-weight:700}
._wordfamily_ldoce6 .etymology{margin-top:10px}
._wordfamily_ldoce6 .group{margin-top:10px}
._wordfamily_ldoce6 .menuitem .signpost{background-color:#fff;color:#000;margin-left:0;font-size:90%}
._wordfamily_ldoce6 .phrvbs{display:block;margin-top:10px;margin-left:5px}
._wordfamily_ldoce6 .phrvbs .heading{display:block;color:#00f;font-weight:700}
._wordfamily_ldoce6 .phrv{font-weight:700}
._wordfamily_ldoce6 .secheading,._wordfamily_ldoce6 .subheading{font-variant:normal;text-transform:uppercase}
._wordfamily_ldoce6 .secheading.no_convert{text-transform:none}
._wordfamily_ldoce6 .grambox .heading.newline{background-color:#6cd0f6}
._wordfamily_ldoce6 img[src*="img/spkr_"]{margin-bottom:-5px}
._wordfamily_ldoce6 .chwd{margin-top:10px;margin-left:8px;margin-right:8px}
._wordfamily_ldoce6 .chwd a{display:inline-block;background-color:green;color:#fff;padding-top:2px;padding-bottom:3px;padding-left:5px;padding-right:5px;margin-right:3px;margin-bottom:3px;text-decoration:none;font-size:80%;border-radius:2px}
._wordfamily_ldoce6 .chwd .hw{color:#fff}
._wordfamily_ldoce6 .entry,._wordfamily_ldoce6 .entry.lozenge,._wordfamily_ldoce6 .verbtable{margin-top:10px;margin-left:10px;margin-right:10px}