body{font-family:Verdana,Microsoft Yahei;line-height:130%}
.discriminate{padding-top:4px;padding-left:4px;padding-right:4px;padding-bottom:0;margin-bottom:0;background-color:#fff;border-radius:10px;box-shadow:0 0 10px .2px #fff}
.dis-group{color:#001c54;color:#dc143c;border-bottom:dotted 1px red;margin-bottom:2px;margin-top:-10px;vertical-align:baseline;font-indent:0;padding-bottom:2px;font-size:100%;font-weight:700}
.dis-group::before{content:"\272A";font-size:20px;color:#c90;color:0#001c54;padding-left:1px;padding-right:3px}
.first-word{color:#001c54;font-weight:700}
.dis-content{margin-top:-1px;font-size:14.5px;padding-top:2px;color:#000;padding-bottom:8px;margin-bottom:-10px}